@model ProductFormViewModel

@{
    var formConfig = new FormConfig(ViewContext)
    {
        FormId = "ProductForm",
        FormTitle = Model.IsNew ? "New Product" : "Edit Product",
        BeforeSubmit = "ProductFormBeforeSubmit", // optional
        Callback = "ProductFormCallback" // optional,
    };
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <div class="card">
                <div class="card-header">
                    @formConfig.FormTitle
                </div>
                <div class="card-body">
                    <form id="@formConfig.FormId" asp-controller="Home" asp-action="Save" enctype="multipart/form-data">

                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" type="text" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category"></label>
                            <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="InStock"></label>
                            <input asp-for="InStock" type="text" class="form-control">
                            <span asp-validation-for="InStock" class="form-text m-b-none text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Active"></label>
                            <input asp-for="Active" type="checkbox" />
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="File"></label>
                            <input asp-for="File" type="file" class="form-control-file" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group text-right">
                            <button class="btn btn-secondary" type="reset">Reset</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.RenderFormScript(formConfig)

    <script>
        var ProductFormBeforeSubmit = function (rr, $form, options) {
            debugger;
            console.log("BeforeSubmit function!");
        }

        var ProductFormCallback = function (response, statusText, xhr, $form) {
            console.log(response);
            console.log("Callback function!");
        }
    </script>
}