@model ProductFormViewModel

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@(Model.IsNew ? "New Product" : "Edit Product")</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- You can use <formhelper> or <form asp-formhelper="true"> to activate formhelper. -->
        <formhelper asp-controller="Home" asp-action="Save" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" type="text" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category"></label>
                    <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
                        <option value="">Select</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InStock"></label>
                    <input asp-for="InStock" type="text" class="form-control">
                    <span asp-validation-for="InStock" class="form-text m-b-none text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Active"></label>
                    <input asp-for="Active" type="checkbox" />
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File"></label>
                    <input asp-for="File" type="file" class="form-control-file" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group text-right">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </formhelper>
    </div>
</div>